<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
</head>
<body>
<form th:action="@{/search}" class="search">
    <label for="category">Категория</label>
    <select id="category" name="category">
        <option selected="selected" value="" th:text="Любая"></option>
        <option th:each="cat: ${categoryList}" th:utext="${cat.categoryName}"></option>
    </select>

    <label for="search">Запрос</label>
    <input type="search" name="title" id="search" maxlength="255">

    <input type="submit" value="Поиск!" class="submit">
</form>
<br>
<div th:each="prod : ${productPaginated}" class="product">
    <p class="title"><a th:text="${prod.title}" th:href="@{/products/{id}(id=${prod.id})}"></a></p>
    <p><img th:src="${prod.imageLocation}" height="200"/></p>
    <p th:text="${prod.quantity != 0} ? ${prod.price} : 'Нет в наличии'"></p>
    <p>
    <form method="post" th:action="@{/cart/new/{id}(id=${prod.id})}" th:if="${prod.quantity > 0}">
        <input type="submit" value="В корзину" class="cart">
    </form>
</div>
<div th:if="${totalPages > 1}">
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a class="page" th:if="${pageNo != i}" th:href="@{'/' + ${i}}">[[${i}]]</a>
      <span th:unless="${pageNo != i}">[[${i}]]</span></span>
</div>
</body>
</html>